@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
  font-family: 'Montserrat', sans-serif;
  transition: all 0.1s ease;
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
h1 {
  font-size: 2.5em;
  margin-top: 1em;
}
input,
button {
  width: 30rem;
}
input {
  margin: 1.1em;
  padding: 1.1em;
  font-size: 1.1em;
  border: 0.2em solid #b5b5b5;
}
input:focus {
  border-color: #15c3fa;
}
::placeholder {
  color: #b5b5b5 !important;
  opacity: 1 !important;
}
button {
  background-color: #15c3fa;
  padding: 1em 2.5em;
  border: none;
  font-size: 1.1em;
  color: #ffffff;
  cursor: pointer;
}
button:hover {
  background-color: #10a7d7;
}
